@CHARSET "UTF-8";

#novaContent {
  position: relative;
}

#header {
  height: 50px;
}

#logo {
    float: left;
    z-index:9999; /*Something Insanely High*/
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

#big-header {
  position: relative;
  top: 0;
  left: 0;
  width: 978px;
  height: 140px;
  background: url( "/rap/images/header.png" ) no-repeat white;
  border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
}

#rap-logo {
  position: absolute;
  left: 29px;
  top: 36px;
  width: 196px;
  height: 78px;
  background: url( "/rap/images/RAP-Logo-white.png" ) no-repeat;
}

/* TOP LEVEL NAVIGATION */

#rap-big-buttons {
  position: absolute;
  left: 270px;
  width: 680px;
  bottom: 17px;
  height: auto;
}

#rap-big-buttons ul {
  text-align: center;
}

#rap-big-buttons li {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#rap-big-buttons a {
  display: block;
  float: left;
  padding: 7px 12px;
  margin: 0 7px;
  font-weight: bold;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

#rap-big-buttons a.active {
  background-color: #6d6d6d;
}

#rap-big-buttons a:hover {
  text-decoration: none;
  background-color: white;
}

#rap-big-buttons h3 {
  color: white;
  font-size: 14pt;
  border: none;
  padding: 0;
  margin: 0;
}

#rap-big-buttons a:hover h3 {
  color: gray;
}

#rap-big-buttons div.rap-button-icon {
  position: absolute;
  left: 12px;
  top: 13px;
  width: 50px;
  height: 50px;
}

/* SECOND-LEVEL NAVIGATION */

#nav-bar {
  background-color: #6d6d6d;
/*  background-color: #7AB317;
    background-color: #727F7D; */
}

#nav-bar ul {
  display: block;
  padding: 0;
  margin: 0 25px;
  float: right;
}

#nav-bar li {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
}

#nav-bar a {
  display: block;
  padding: 0 10px;
  margin: 0 7px;
  color: white;
  font-weight: bold;
}

#nav-bar a.active {
  background-color: #c8c8c8;
}

#nav-bar a.active h4 {
  color: #393939;
}

#nav-bar a:hover {
  text-decoration: none;
  background-color: #f8f8f8;
}

#nav-bar a:hover h4 {
  color: #393939;
}

#nav-bar h4 {
  font-weight: normal;
  font-size: 17px;
  color: white;
  margin: 0;
  padding: 9px 0;
}

#maincontent {
  clear: both;
}

/* DOWNLOAD */

/*
#rap-button-download {
  left: 260px;
  top: 0px;
  background: transparent url( "images/buttons.png" ) no-repeat 0 0;
}

#rap-button-download:hover {
  background: transparent url( "images/buttons.png" ) no-repeat -250px 0;
}

#rap-button-download div.rap-button-icon {
  background: transparent url( "http://w3.eclipsesource.com/www/img/rap/button-icons.png" ) no-repeat 0 0;
}
 
#rap-button-documentation {
  left: 20px;
  top: 0;
  background: transparent url( "images/buttons.png" ) no-repeat 0 -77px;
}

#rap-button-documentation:hover {
  background: transparent url( "images/buttons.png" ) no-repeat -250px -77px;
}

#rap-button-documentation div.rap-button-icon {
  background: transparent url( "http://w3.eclipsesource.com/www/img/rap/button-icons.png" ) no-repeat -50px 0;
}

#rap-button-support {
  left: 260px;
  top: 0;
  background: transparent url( "images/buttons.png" ) no-repeat 0 -77px;
}

#rap-button-support:hover {
  background: transparent url( "images/buttons.png" ) no-repeat -250px -77px;
}

#rap-button-support div.rap-button-icon {
  background: transparent url( "http://w3.eclipsesource.com/www/img/rap/button-icons.png" ) no-repeat -100px 0;
}

#rap-button-demos {
  left: 0px;
  top: 0px;
  background: transparent url( "images/buttons.png" ) no-repeat 0 -77px;
}

#rap-button-demos:hover {
  background: transparent url( "images/buttons.png" ) no-repeat -250px -77px;
}

#rap-button-demos div.rap-button-icon {
  background: transparent url( "http://w3.eclipsesource.com/www/img/rap/button-icons.png" ) no-repeat -150px 0;
}

*/

div.stop {
  clear: both;
}

/* BOXES */

div.box {
  margin-top: 20px;
}

div.box img {
  float: left;
  border: 1px solid #666;
  margin: 0;
}

div.box h3 {
  margin-top: 0;
  padding-top: 0;
}

div.box div {
  margin: 0 0 0 270px;
}

/* * */

#midcolumn {
  width: 627px;
  padding: 37px 20px 20px 27px;
  margin-right: 11px;
}

#novaContent {
  border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
}

#rightcolumn {
  padding: 37px 27px 20px 20px;
}
