
/* Fixes for unsupported "inline-block" */

span.download-icon,
div.expand-link,
span.terminal-field,
span.terminal-text,
span.terminal-overlay
{
  display: inline;
  zoom: 1;
}

/* Fixes for unsupported "opacity" */

span.terminal-overlay {
  filter: alpha(opacity = 50);
}

/* Fixes for unsupported "float" */

#midcolumn,
#rightcolumn,
.rss
{
  position: relative;
}
