
@CHARSET "UTF-8";

html {
  height: 100%; /* gives layout 100% height */
  overflow: inherit; /* triggers 100% height in Opera 9.5 */
}

/* HEADER */

#header-bar {
  background-color: #31619c;
}

#header {
  width: 980px;
  margin: 0 auto;
}

#big-header {
  position: relative;
  top: 0;
  left: 0;
  height: 140px;
}

#rap-logo {
  position: absolute;
  left: 29px;
  top: 36px;
  width: 196px;
  height: 78px;
  background: url( "/rap/images/RAP-Logo-white.png" ) no-repeat;
}

/* TOP LEVEL NAVIGATION */

#rap-big-buttons {
  z-index: 1000;
  position: absolute;
  left: 282px;
  width: 680px;
  bottom: 17px;
  height: auto;
}

#rap-big-buttons ul {
  text-align: right;
}

#rap-big-buttons > ul > li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#rap-big-buttons > ul > li > a {
  display: block;
  float: left;
  padding: 7px 12px;
  margin: 0 7px;
  font-weight: bold;
}

/*
#rap-big-buttons > ul > li > a.active {
  border: 1px solid white;
  padding: 6px 11px;
}
*/

#rap-big-buttons > ul > li:hover > a {
  text-decoration: none;
  border: 1px solid #dedede;
  padding: 6px 11px;
}

#rap-big-buttons h3 {
  color: white;
  font-size: 14pt;
  border: none;
  padding: 0;
  margin: 0;
}

#rap-big-buttons > ul > li > a:hover h3,
#rap-big-buttons > ul > li > a.active h3 {
  color: white;
}

#rap-big-buttons > ul li.selected > h3 {
  color: #393939;
}

#rap-big-buttons div.rap-button-icon {
  position: absolute;
  left: 12px;
  top: 13px;
  width: 50px;
  height: 50px;
}

/* SECOND-LEVEL NAVIGATION */

.second-level-nav {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 200px;
  top: 40px;
  left: 7px;
  border: 1px solid #bdbdbd;
  border-radius: 0;
 box-shadow: 3px 3px 7px #222222;
  background-color: white;
}

.second-level-nav > li {
  display: block;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0;
  border-bottom: 1px solid #bdbdbd;
}

.second-level-nav > li:last-child {
  border-bottom: none;
}

.second-level-nav > li > a {
  display: block;
  color: #393939;
  padding: 10px 0 10px 12px !important;
  text-decoration: none;
}

.second-level-nav > li > a:hover,
.second-level-nav > li:hover > a {
  color: white;
}

.second-level-nav li:hover {
  background-color: #31619C;
}

.second-level-nav li:hover a {
  box-shadow: none !important;
  cursor: pointer;
}

#nav-bar {
  background-color: #34332f;
}

#breadcrumb-container {
  width: 980px;
  margin: 0 auto;
  display: block;
  height: 33px;
}

div#breadcrumb-container ul {
  display: inline-block;
  height: 33px;
  padding-top: 7px;
}

#breadcrumb-container li {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
}

#breadcrumb-container a.active {
  background-color: #c8c8c8;
}

#breadcrumb-container a:hover {
  text-decoration: none;
  color: white;
}

ul#breadcrumb {
  padding-left: 18px;
}

div#breadcrumb-container li > a {
  color: #BDBDBD;
  font-size: 17px;
  font-weight: normal;
  height: 24px;
  padding: 9px 20px 10px 10px;
}

ul#breadcrumb > li > a {
  background: no-repeat url(/rap/images/breadcrumb_arrow.png) right center ;
}

ul#breadcrumb > li:last-child > a {
  background: none;
}

ul#links {
  float: right;
}

ul#links li {
  padding: 0 15px 0 0;
}

/* CONTENT */

body {
  height: 100%; /* gives layout 100% height */
  color: #34332f;
  width: 100%;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

ul p {
  padding: 0 0 15px 0;
}

#novaWrapper {
  min-height: 100%; /* gives layout 100% height */
  width: 978px; /* centered div must be given a width */
  margin: 0 auto; /* centers #wrapper */
}

#novaContent {
  position: relative;
  min-height: 100%; /* gives layout 100% height */
  padding-top: 25px;
  background: white;
}

#novaContent li {
  list-style-image: url( "/rap/images/list-bullet.png" );
  list-style-position: outside;
  margin-left: 10px;
  padding: 5px 10px 5px 0;
}

* html #wrapper {
  height: 100%; /* IE6 treats height as min-height */
}

#clearFooter {
  clear: both;
  height: 34px; /* provides space for the #footer */
  background: #E0E5E9;
}

#footer {
  color: #34332F;
  width: 978px; /* centered div must be given a width */
  border: 1px solid #bdbdbd;
  background: #e5e5e5;
  padding: 25px 0 40px 0;
  margin: 60px 0 0 0;
}

#footer * {
  text-decoration: none;
  font-size: 12px;
}

#footer ul {
  padding-left: 20px;
  float: left;
}

#footer ul li {
  display: inline;
  padding-right: 15px;
}

#copyright {
  padding-right: 20px;
  clear: none;
  float: right;
}

img.framed {
  border: 1px solid #bdbdbd;
  box-shadow: 0 0 4px #adadad;
  margin-top: 15px;
  margin-bottom: 15px; 
}

a {
  color: #31619c;
  font-weight: normal;
  text-decoration: none;
  font-size: inherit;
}

a:hover {
  text-decoration: underline;
}

div, p, blockquote, pre, code, em, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
  color: #34332F;
  font-size: 14px;
  line-height: 18px;
}

em {
  font-style: italic;
}

h1, h2, h3, h4 {
  line-height: normal;
  font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a {
  font-weight: bold;
}

h1 {
  font-size: 28px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 25px;
}

h2 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 8px;
}

h3 {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 8px;
}

h4 {
  font-size: 14px;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 2px;
}

html {
  background: transparent;
}

ol > li {
  list-style-image: none !important;
  list-style-type: decimal;
}

strong {
  font-weight: bold;
}

td {
  padding: 3px;
}

sub {
  vertical-align: sub;
  font-size: 80%;
}

sup {
  vertical-align: super;
  font-size: 80%
}

#content {
  background: #E0E5E9;
}

#fullcolumn {
  padding-top: 20px;
  width: 978px;
}

#fullcolumn #midcolumn {
  margin-left: 20px;
  width: 640px;
}

#fullcolumn #rightcolumn {
  width: 280px;
}

#leftcol {
  background: transparent;
  clear: both;
  float: left;
  margin-right: 20px;
  width: 185px;
}

#leftnav {
  margin-left: 10px;
  margin-right: 20px;
}

#leftnav li {
  list-style-image: url('/eclipse.org-common/themes/Nova/images/leftNav.gif');
  margin-left: 30px;
  padding: 0px;
}

#leftnav li a {
  font-size: 12px;
  line-height: 12px;
}

#leftnav li.about {
  list-style-image: none;
  margin-left: 0;
  padding-bottom: 10px;
}

#leftnav li.about a {
  color: #31619c;
  font-size: 12px;
}

#leftnav li.separator {
  border-top: 1px dotted #d4d4dd;
  list-style-image: none;
  margin-left: 0;
  margin-top: 5px;
  padding: 5px 0;
  padding-top: 5px;
}

#leftnav li.separator a {
  color: #31619c;
  font-size: 12px;
}

#midcolumn {
  background: transparent;
  float: left;
  margin-right: 20px;
  width: 495px;
}

#midcolumn ul, #midcolumn ol {
  margin-left: 20px;
  padding-bottom: 10px;
}

#rightcolumn {
  background: transparent;
  float: left;
  width: 240px;
  padding: 28px 27px 20px 26px;
}

#widecontainer {
  background: #FFF;
}

.clearer {
  clear: both;
  visibility: hidden;
}

.details {
  line-height: 13px;
  margin: 5px 0;
}

.details ul {
  margin-left: 15px;
}

.details ul li {
  font-size: 11px;
}

.noImage li {
  list-style-image: none !important;
}

.more {
  height: 20px;
  margin-top: 3px;
  width: 100%;
}

.moreButton {
  background: #FFF url('/eclipse.org-common/themes/Nova/images/moreButton.png') no-repeat;
  float: right;
  font-size: 10px;
  padding-top: 7px;
  text-align: right;
}

.moreButton a {
  color: #31619c;
  display: block;
  font-size: 10px;
  height: 26px;
  pointer: cursor;
  text-align: center;
  width: 100px;
  line-height: 10px;
}

.newsPosts {
  margin-top: 5px;
}

.newsPosts .date {
  color: #666;
  font-size: 11px;
  padding-right: 20px;
  vertical-align: top;
}

.newsPosts a.link {
  color: #31619c;
  font-size: 14px;
}

.newsPosts div.details {
  color: #515151;
  font-size: 11px;
}

.newsPosts tr td {
  margin-bottom: 10px;
  padding-top: 5px;
}

.noBG {
  background: none !important;
}

.none {
  background: transparent !important;
  border: 0px !important;
}

.posted {
  color: #888;
  font-size: 8px;
}

/* SLIDESHOW */

#slideshow {
  position: relative;
  padding: 29px;
  margin-bottom: 10px;
}

img#eclipse-icon {
  height: 60px;
}

div#heading-eclipse-icon {
  position: absolute;
  right: 20px;
  top: 40px;
}

div#heading-eclipse-icon img {
  height: 76px;
}

#slideshow > h1 {
  color: #34332F;
  font-size: 40px;
  line-height: normal;
}

#slideshow > p {
  color: #34332F;
  font-size: 23px;
  line-height: normal;
}

span.important {
  color: #e95a35;
}

/* FEATURES OVERVIEW */

div.antifloat {
  clear: both;
}

div#features > div.feature > div.feature-description {
  padding: 0 0 0 70px;
}

div#features > div.feature {
  display: block;
  font-weight: normal;
  background-color: transparent;
  list-style: none;
  float: left;
  width: 280px;
  height: 200px;
  padding: 30px 23px;
}

div#features > div.feature p {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

div#features > div.feature h2 {
  color: #34332F;
  font-size: 28px;
  font-weight: normal;
  padding: 0 0 20px 0;
}

div#features > div.feature > div.icon {
  float: left;
  width: 52px;
  height: 63px;
}

div#features > div.feature > div.icon {
  background-image: url( /rap/images/rap-features/features-sprite.png );
}

div#features > div.feature > div#ui-kit {
  background-position: 0 0;
}

div#features > div.feature > div#tooling {
  background-position: -52px 0;
}

div#features > div.feature > div#integration {
  background-position: -104px 0;
}

div#features > div.feature > div#clustering {
  background-position: -156px 0;
}

div#features > div.feature > div#cross-browser {
  background-position: -208px 0;
}

div#features > div.feature > div#open-source {
  background-position: -260px 0;
}

/* BLOGS RSS FEED ON FIRST PAGE */

div#blog-posts-container {
  border: 1px solid #d9d9d9;
  margin: 40px 0 0 0;
  padding: 30px 0 30px 0;
  background: -moz-radial-gradient(left 45deg, circle farthest-side, white, #e5e5e5);
  background: -webkit-gradient(radial, center center, 80, center center, 400, from(#fff), to(#e5e5e5));
  background: -webkit-radial-gradient(center, #fff, #e5e5e5); /* new webkit syntax */
  background: -o-radial-gradient(center, #fff, #e5e5e5); 
  background: -ms-radial-gradient(center, #fff, #e5e5e5);
  background: radial-gradient(center, circle farthest-side, #fff, #e5e5e5); /* W3C Standard */
}

div#blog-posts-container > a.rssIcon {
  position: relative;
  float: left;
  left: 30px;
  top: -4px;
  opacity: 0.6;
}

div#blog-posts-container > a.rssIcon > img {
  height: 25px;
}

div#blog-posts-container > a.rssIcon:hover {
  opacity: 1;
}

div#blog-posts-container > h2 {
  font-size: 30px;
  font-weight: normal;
  color: #34332F;
  padding: 0 0 30px 93px;
}

div#blog-posts > .rssBody > ul > li {
  list-style: none;
  width: 210px;
  float: left;
  padding: 0 22px 0 93px;
  margin: 0;
}

div#blog-posts > .rssBody > ul > li > h3 {
  font-size: 14px;
  font-weight: normal;
  padding: 0 0 10px 0;
  margin: 0;
}

div#blog-posts > .rssBody > ul > li > h3 > a {
  font-weight: normal;
}

div#blog-posts > .rssBody > ul > li > p {
  padding: 0;
  margin: 0;
}

/* SIDE BOXES */

.sideitem {
  margin-bottom: 40px;
  clear: both;
}

.sideitem h6 {
  background-color: #31619C;
  color: #ffffff;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 5px 8px 10px;
}

.sideitemcontent {
  border-top: none;
  padding-top: 20px;
}

.sideitem ul, .sideitem ol {
  margin-left: 10px;
}

.sideitem .modal {
  background: #FFF url('/eclipse.org-common/themes/Nova/images/thinModalBg.png') repeat-x;
  padding: 5px;
}

.sideitem ul, .sideitem ol, .sideitem form, .sideitem p {
  padding: 5px;
}

/* Lists in side boxes */

#novaContent .sideitem  ul {
  margin: 0;
  padding: 0;
}

#novaContent .sideitem  ul li {
  list-style-image: none;
  margin: 0;
  padding: 0 0 20px 10px;
}

#novaContent .sideitem ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* --- */

small {
  font-size: 10px;
}

#logo {
  float: left;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
}

#maincontent {
  clear: both;
}

/* DOWNLOAD */

/*
#rap-button-download {
  left: 260px;
  top: 0px;
  background: transparent url( "images/buttons.png" ) no-repeat 0 0;
}

#rap-button-download:hover {
  background: transparent url( "images/buttons.png" ) no-repeat -250px 0;
}

#rap-button-download div.rap-button-icon {
  background: transparent url( "http://w3.eclipsesource.com/www/img/rap/button-icons.png" ) no-repeat 0 0;
}

#rap-button-documentation {
  left: 20px;
  top: 0;
  background: transparent url( "images/buttons.png" ) no-repeat 0 -77px;
}

#rap-button-documentation:hover {
  background: transparent url( "images/buttons.png" ) no-repeat -250px -77px;
}

#rap-button-documentation div.rap-button-icon {
  background: transparent url( "http://w3.eclipsesource.com/www/img/rap/button-icons.png" ) no-repeat -50px 0;
}

#rap-button-support {
  left: 260px;
  top: 0;
  background: transparent url( "images/buttons.png" ) no-repeat 0 -77px;
}

#rap-button-support:hover {
  background: transparent url( "images/buttons.png" ) no-repeat -250px -77px;
}

#rap-button-support div.rap-button-icon {
  background: transparent url( "http://w3.eclipsesource.com/www/img/rap/button-icons.png" ) no-repeat -100px 0;
}

#rap-button-demos {
  left: 0px;
  top: 0px;
  background: transparent url( "images/buttons.png" ) no-repeat 0 -77px;
}

#rap-button-demos:hover {
  background: transparent url( "images/buttons.png" ) no-repeat -250px -77px;
}

#rap-button-demos div.rap-button-icon {
  background: transparent url( "http://w3.eclipsesource.com/www/img/rap/button-icons.png" ) no-repeat -150px 0;
}

*/

div.stop {
  clear: both;
}

/* BOXES */

div.box {
  margin-top: 35px;
}

div.box div.images {
  float: left;
  margin: 0 25px 0 0;
}

div.box img {
  border: none;
  margin: 0 0 25px 0;
  -moz-box-shadow: 4px 4px 5px #cecece;
  -webkit-box-shadow: 4px 4px 5px #cecece;
  box-shadow: 4px 4px 5px #cecece;
}

div.box h3 {
  margin-top: 0;
  padding-top: 0;
}

div.box div {
  margin: 0 0 0 280px;
}

/* * */

#midcolumn {
  width: 627px;
  padding: 28px 20px 20px 27px;
  margin-right: 11px;
}

/* Fix horizontal position of the top-left Eclipse logo */
div#logo {
  position: relative;
  height: 91px;
  top: -1px;
  left: 793px;
}

/* Customize margin for paragraphs */

p, ul, ol, table, pre {
  margin-top: 5px;
  margin-bottom: 8px;
}

/* code blocks */

pre {
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  background-color: #fafafa;
  padding: 12px 18px;
  overflow-x: auto;
}

/* Enable Quotes */

q:before { content: '\201C'; }
q:after { content: '\201D'; }
q q:before { content: '\2018'; }
q q:after { content: '\2019'; }

/* RAP logo in side navigation */

#rap-small-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 184px;
  height: 80px;
}

#rap-small-logo {
  position: absolute;
  left: 12px;
  top: 15px;
  width: 152px;
  height: 67px;
  background: url( "/rap/images/RAP-Logo-small.png" ) no-repeat 0 0;
}

#leftnav {
  margin-top: 70px;
  padding-left: 8px;
}

/* Make first-level navigation items appear as links */

#leftnav li.separator a {
  color: #7036BE;
}

/* * */

/* Small navigation icons */

span.download-icon {
  display: inline-block;
  position: relative;
  top: 6px;
  width: 24px;
  height: 24px;
  background: url( /rap/images/button-icons-small.png ) 0 0;
}

/* Expand areas on download page */

div.expand-head {
  margin: 0;
}

div.expand-link,
div.download-button {
  display: inline-block;
  cursor: pointer;
  background-color: #f5f4e9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px;
}

div.expand-link {
  padding: 1px 10px 8px 5px;
  margin-right: 10px;
}

div.download-button.hover {
  background-color: #e8e7dd;
}

div.expand-link.selected {
  background-color: #e8e7dd;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  padding-bottom: 11px;
}

div.expand-body {
  display: none;
  border: 2px solid #e8e7dd;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}

/* BUILD TERMINAL */

div.terminal {
  padding: 5px;
  color: white;
  background-color: gray;
  border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
}

div.terminal-row {
  margin: 5px 0;
}

span.terminal-field {
  position: relative;
  display: inline-block;
  background-color: #222;
  padding: 2px 4px;
  width: 98px;
  margin-left: 4px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

span.terminal-text {
  position: relative;
  display: inline-block;
  background-color: #333333;
  padding: 0 4px;
  color: white;
  width: 90px;
  text-alignment: center;
  font: 14px sans-serif;
}

span.terminal-arrived {
  color: #88ff88;
}

span.terminal-landing {
  color: #f2fa73;
}

span.terminal-overlay {
  position: absolute;
  display: inline-block;
  border-top: 1px solid #444;
  z-index: 10;
  opacity: 0.5;
  width: 98px;
  height: 2px;
  left: 4px;
  top: 10px;
}

/* RSS icon in side bar item */

div.sideitem .rssIcon {
  float: right;
  margin-right: 8px;
  margin-top: 2px;
}
