@CHARSET "UTF-8";

#novaContent {
  position: relative;
}

#header {
  height: 50px;
}

#logo {
    float: left;
    z-index:9999; /*Something Insanely High*/
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

#big-header {
  position: relative;
  top: 0;
  left: 0;
  width: 978px;
  height: 140px;
  background: url( "/rap/images/header.png" ) no-repeat white;
  border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
}

#rap-logo {
  position: absolute;
  left: 29px;
  top: 36px;
  width: 196px;
  height: 78px;
  background: url( "/rap/images/RAP-Logo-white.png" ) no-repeat;
}

/* TOP LEVEL NAVIGATION */

#rap-big-buttons {
  z-index: 1000;
  position: absolute;
  left: 282px;
  width: 680px;
  bottom: 17px;
  height: auto;
}

#rap-big-buttons ul {
  text-align: right;
}

#rap-big-buttons > ul > li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#rap-big-buttons > ul > li > a {
  display: block;
  float: left;
  padding: 7px 12px;
  margin: 0 7px;
  font-weight: bold;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#rap-big-buttons > ul > li > a.active {
  background-color: #c8c8c8;
  box-shadow: 0 0 4px black;
}

#rap-big-buttons > ul > li > a:hover {
  text-decoration: none;
  background-color: white;
  box-shadow: 0 0 4px black;
}

#rap-big-buttons h3 {
  color: white;
  font-size: 14pt;
  border: none;
  padding: 0;
  margin: 0;
}

#rap-big-buttons > ul > li > a:hover h3,
#rap-big-buttons > ul > li > a.active h3 {
  color: #393939;
}

#rap-big-buttons > ul li.selected > h3{
  color: #393939;
}

#rap-big-buttons div.rap-button-icon {
  position: absolute;
  left: 12px;
  top: 13px;
  width: 50px;
  height: 50px;
}

/* SECOND-LEVEL NAVIGATION */

.second-level-nav {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 200px;
  top: 40px;
  left: 7px;
  border-radius: 3px;
  box-shadow: 0 0 4px black;
  background-color: white;
}

.second-level-nav > li {
  display: block;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 2px;
  border-bottom: 1px solid #bdbdbd;
}

.second-level-nav > li > a {
  display: block;
  color: #393939;
  padding: 10px 0 10px 12px !important;
  text-decoration: none;
}

.second-level-nav > li > a:hover,
.second-level-nav > li:hover > a {
  color: white;
}

.second-level-nav li:hover {
  background-color: #416693;
}

.second-level-nav li:hover a {
  box-shadow: none !important;
  cursor: pointer;
}

#nav-bar {
  display: block;
  height: 33px;
  background-color: #c8c8c8;
}

#nav-bar > ul#links {
  display: block;
  padding: 0;
  margin: 0 50px 0 0;
  float: right;
}

#nav-bar li {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
}

#nav-bar a {
  display: block;
  padding: 0 10px;
  margin: 0 7px;
  color: white;
  font-weight: bold;
}

#nav-bar a.active {
  background-color: #c8c8c8;
}

#nav-bar a.active h4 {
  color: #393939;
}

#nav-bar a:hover {
  text-decoration: none;
}

#nav-bar a:hover h4 {
  color: #393939;
}

#nav-bar h4 {
  font-weight: normal;
  font-size: 17px;
  color: #416693;
  text-shadow: 0 1px 1px white;
  margin: 0;
  padding: 9px 0;
}

ul#breadcrumb {
  border-radius: 0 6px 6px 0;
  display: inline-block;
  height: 33px;
  padding-left: 18px;
}

ul#breadcrumb > li > a {
  background: right center no-repeat url(/rap/images/breadcrumb_arrow.png);
  color: #4d4d4d;
  font-size: 17px;
  font-weight: normal;
  height: 24px;
  margin: 0;
  padding: 9px 20px 0 10px;
  text-shadow: 0 1px 0 white;
}

ul#breadcrumb > li:last-child > a {
  background: none;
}

#maincontent {
  clear: both;
}

/* DOWNLOAD */

/*
#rap-button-download {
  left: 260px;
  top: 0px;
  background: transparent url( "images/buttons.png" ) no-repeat 0 0;
}

#rap-button-download:hover {
  background: transparent url( "images/buttons.png" ) no-repeat -250px 0;
}

#rap-button-download div.rap-button-icon {
  background: transparent url( "http://w3.eclipsesource.com/www/img/rap/button-icons.png" ) no-repeat 0 0;
}
 
#rap-button-documentation {
  left: 20px;
  top: 0;
  background: transparent url( "images/buttons.png" ) no-repeat 0 -77px;
}

#rap-button-documentation:hover {
  background: transparent url( "images/buttons.png" ) no-repeat -250px -77px;
}

#rap-button-documentation div.rap-button-icon {
  background: transparent url( "http://w3.eclipsesource.com/www/img/rap/button-icons.png" ) no-repeat -50px 0;
}

#rap-button-support {
  left: 260px;
  top: 0;
  background: transparent url( "images/buttons.png" ) no-repeat 0 -77px;
}

#rap-button-support:hover {
  background: transparent url( "images/buttons.png" ) no-repeat -250px -77px;
}

#rap-button-support div.rap-button-icon {
  background: transparent url( "http://w3.eclipsesource.com/www/img/rap/button-icons.png" ) no-repeat -100px 0;
}

#rap-button-demos {
  left: 0px;
  top: 0px;
  background: transparent url( "images/buttons.png" ) no-repeat 0 -77px;
}

#rap-button-demos:hover {
  background: transparent url( "images/buttons.png" ) no-repeat -250px -77px;
}

#rap-button-demos div.rap-button-icon {
  background: transparent url( "http://w3.eclipsesource.com/www/img/rap/button-icons.png" ) no-repeat -150px 0;
}

*/

div.stop {
  clear: both;
}

/* BOXES */

div.box {
  margin-top: 35px;
}

div.box div.images {
  float: left;
  margin: 0 25px 0 0;
}

div.box img {
  border: none;
  margin: 0 0 25px 0;
  -moz-box-shadow: 4px 4px 5px #cecece;
  -webkit-box-shadow: 4px 4px 5px #cecece;
  box-shadow: 4px 4px 5px #cecece;
}

div.box h3 {
  margin-top: 0;
  padding-top: 0;
}

div.box div {
  margin: 0 0 0 280px;
}

/* * */

#midcolumn {
  width: 627px;
  padding: 37px 20px 20px 27px;
  margin-right: 11px;
}

#novaContent {
  border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
}

#rightcolumn {
  padding: 37px 27px 20px 20px;
}
